.user-info {
	padding-top: 30px;
}

p .justify {
	text-align: justify;
}

.catThumbnail {
	height: 405px;
}

.catButton {
	float: right ;
	margin: 0px 0px 10px 0px;	
}

.proButton {

}

.catCaption {
	height: 205px ;
}

.searchbox {
	float: right;
	padding: 10px 0px 0px 20px;
}

.cartbox {
	float: right;
}

.alert-error {
	clear: both;
	float: left;
	margin: 10px 0px 0px 0px;
}

.input-mini{
	width: 30px;
}

.input-append{
	float: right;
	
}

.price {
	text-align: right !important;	
}
