.user-info {
	padding-top: 30px;
}

p .justify {
	text-align: justify;
}

.catThumbnail {
	height: 370px;
}

.catButton {
	float: right ;
}

.proButton {

}

.catCaption {
	height: 205px ;
}

