.user-info {
	padding-top: 30px;
}

p .justify {
	text-align: justify;
}

.catThumbnail {
	height: 370px;
}

.catButton {
	float: right ;
}

.proButton {

}

.catCaption {
	height: 205px ;
}

.searchbox {
	float: right;
	padding: 10px 0px 0px 20px;
}

.cartbox {
	float: right;
}

.alert-error {
	clear: both;
	float: left;
	margin: 10px 0px 0px 0px;
}
